.c-action {
  position: relative;
}

.c-action__image {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  img {
    object-position: top;
  }
}

.c-action__content {
  position: relative;
  z-index: 1;
}
