<div class="c-action sprk-o-Box--large">
  <picture class="c-action__image">
    <source
      type="image/webp"
      [srcset]="actionInfo?.jobImage?.responsiveImage?.webpSrcSet"
      [sizes]="actionInfo?.jobImage?.responsiveImage?.sizes"
    >
    <img
      loading="lazy"
      class="u-image-fill"
      [srcset]="actionInfo?.jobImage?.responsiveImage?.srcSet"
      [sizes]="actionInfo?.jobImage?.responsiveImage?.sizes"
      [src]="actionInfo?.jobImage?.url"
      [alt]="actionInfo?.jobImage?.responsiveImage?.alt || ''"
    >
  </picture>
  <div class="c-action__content sprk-o-Box--misc-b sprk-u-TextAlign--center u-color--black-transparent-50">
    <h3 sprkHeading variant="displayThree" class="sprk-u-MarginVertical--b sprk-u-TextTransform--uppercase sprk-u-FontWeight--normal sprk-u-Color--white">
      {{actionInfo.jobTitle}}
    </h3>
    <p sprkText variant="bodyTwo" class="sprk-u-Color--white sprk-u-MarginBottom--b">
      {{actionInfo.jobDescription}}
    </p>
    <a href="mailto: {{actionInfo.jobMail}}" idString="button-primary" class="sprk-c-Button sprk-u-MarginVertical--b">
      Invia CV
    </a>
  </div>
</div>
