<div class="c-bullet-posts__container">
  <div class="sprk-o-CenteredColumn c-bullet-posts sprk-o-Box--inset-tall-large">
    <h3 sprkStackItem sprkHeading variant="displayThree" class="sprk-u-mbh sprk-u-TextTransform--uppercase sprk-u-FontWeight--normal sprk-u-TextAlign--center u-color--brand-text">
      <ng-content></ng-content>
    </h3>
    <sprk-stack splitAt="medium" additionalClasses="u-flex--wrap u-stack-ColumnSpacer--medium c-bullet-posts__item-container" #refBulletContainer>
    <!-- <sprk-stack splitAt="medium" additionalClasses="u-flex--wrap u-stack-ColumnSpacer--medium c-bullet-posts__container" [ngStyle]="{'max-height': bulletsContainerHeight}" #refBulletContainer> -->
      <div sprkStackItem *ngFor="let bullet of bulletElements" class="c-bullet-posts__item sprk-u-PaddingHorizontal--a sprk-o-Stack__item--flex@m sprk-u-Position--relative" #refBulletItem>
        <!-- <h4 sprkHeading variant="displayFour" class="sprk-u-FontWeight--normal sprk-u-MarginVertical--b">
          {{item.certificateName}}
        </h4> -->
        <div class="c-bullet-posts__icon sprk-u-Position--absolute sprk-u-Color--white">
          <fa-icon [icon]="faAsterisk" size="lg"></fa-icon>
        </div>
        <div class="c-bullet-posts__content sprk-u-pal sprk-u-mbh">
          <p sprkText variant="bodyThree" class="sprk-u-Display--inline-block sprk-u-FontWeight--500">
            {{ bullet }}
          </p>
        </div>
      </div>
    </sprk-stack>
  </div>
</div>
