@import "node_modules/@sparkdesignsystem/spark-styles/web/scss/_colors.scss";
@import "node_modules/@sparkdesignsystem/spark-styles/web/scss/_settings.scss";
@import '../../../scss/colors';

.c-projects {
  display: flex;
  flex-flow: wrap;

  &__item {
    flex: 0 0 calc(100% / 1);
    position: relative;

    @media all and (min-width: $sprk-split-breakpoint-s) {
      flex: 0 0 calc(100% / 2);
    }

    @media all and (min-width: $sprk-split-breakpoint-l) {
      flex: 0 0 calc(100% / 3);
    }

    @media all and (min-width: $sprk-split-breakpoint-xl) {
      flex: 0 0 calc(100% / 4);
    }

    &::after {
      content: "";
      display: block;
      padding-bottom: 70%;
    }
  }

  &__image {
    background-position: center;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
  }

}
