<app-page-header *ngIf="pageInfo" [responsiveImageUrls]="pageInfo.image" [pageTitle]="pageInfo.title" [pageDescription]="pageInfo.content" [filters]="projectsFilter" [currentFilter]="worksService.currentFilter"></app-page-header>
<app-project-detail *ngIf="worksService.isProjectOpen" [currentProject]="selectedProject" #projectDetailRef></app-project-detail>


<div class="sprk-o-Box--inset-tall-medium u-display-flex u-flexJustify-center u-flexAlign-center u-color--brand-bg">
  <h4 sprkHeading variant="displayFour" class="sprk-u-FontWeight--normal sprk-u-TextTransform--uppercase sprk-u-Color--white">
    {{projectListTitle}}
  </h4>
</div>

<div class="c-projects">
  <ng-container *ngFor="let project of filteredProjects">
    <div class="c-projects__item" *ngIf="project.prjFilters.includes(worksService.currentFilter) || (worksService.currentFilter === '' || worksService.currentFilter === 'Tutte le opere')" [ngClass]="{'active': project.id === currentProjectID}" (click)="worksService.scrollToProject(); worksService.gotoProject(project.id)">
      <picture class="c-projects__image">
        <source
          type="image/webp"
          [srcset]="project.coverImage.responsiveImage?.webpSrcSet"
          [sizes]="project.coverImage.responsiveImage?.sizes"
        >
        <img
          loading="lazy"
          class="u-image-fill"
          [srcset]="project.coverImage.responsiveImage?.srcSet"
          [sizes]="project.coverImage.responsiveImage?.sizes"
          [src]="project.coverImage?.url"
          [alt]="project.coverImage?.responsiveImage?.alt || project.title"
        >
      </picture>
      <div class="sprk-o-Box--large sprk-u-Position--absolute sprk-u-AbsoluteCenter sprk-u-Height--100 sprk-u-Width-100 u-custom-hover">
        <h3 sprkHeading variant="displayFour" class="o-custom-underliner sprk-u-Color--white sprk-u-Position--relative sprk-u-TextAlign--center">
          {{ project.title }}
        </h3>
      </div>
    </div>
  </ng-container>
</div>
