@import "node_modules/@sparkdesignsystem/spark-styles/web/scss/_colors.scss";
@import "node_modules/@sparkdesignsystem/spark-styles/web/scss/_settings.scss";
@import "node_modules/@sparkdesignsystem/spark-styles/utilities/_utilities.scss";

.c-text {
  &__content {
    column-gap: 30px;
    column-fill: balance;

    p {
      @extend .sprk-u-TextCrop--none;
    }

    @media all and (min-width: $sprk-split-breakpoint-s) {
      columns: 2;
    }
  }

  &__element-list {
    > *:last-child {
      margin-bottom: 0 !important;
    }
  }
}
