<div class="sprk-o-CenteredColumn">
  <div class="sprk-o-Box sprk-o-Box--inset-tall-large">
    <div *ngIf="!elementsList; else templateElementList" class="sprk-u-mbl c-text">
      <h3 sprkHeading variant="displayThree" class="sprk-u-TextTransform--uppercase sprk-u-FontWeight--normal u-fontCenter sprk-u-mbh u-color--brand-text">
        {{heading}}
      </h3>
      <div sprkText variant="bodyTwo" class="c-text__content u-text--space sprk-u-TextCrop--none" [innerHTML]="paragraph"></div>
    </div>

    <ng-template #templateElementList>
      <div class="c-text__element-list sprk-u-TextAlign--center">
        <ng-container *ngFor="let element of elementsList">
          <div *ngIf="element.descrizioneContatto" class="sprk-u-mbh">
            <fa-icon sprkHeading variant="displayFive" [icon]="utilsService.iconSetup(element.iconaContatto)" [fixedWidth]="true" size="lg" class="sprk-u-mrs u-color--brand-text"></fa-icon>
            <h4 sprkHeading variant="displayFour" class="u-FontTransform--capitalize sprk-u-mbm u-color--brand-text sprk-u-TextTransform--uppercase sprk-u-FontWeight--normal">
              {{element.titoloContatto}}
            </h4>
            <ng-container [ngSwitch]="element.iconaContatto">
              <a sprkLink variant="simple"
                *ngSwitchCase="'Indirizzo'"
              >
                <h4
                  sprkHeading variant="displayFour"
                  class="u-whiteSpace-pre-line u-FontWeight--300 sprk-u-Display--inline"
                  (click)="commondataService.setMapCenter(element.coordinate.latitude, element.coordinate.longitude); viewportScroller.scrollToAnchor('map')"
                >
                  {{element.descrizioneContatto}}
                </h4>
              </a>
              <a sprkLink variant="simple"
                *ngSwitchCase="'Mail'"
                [href]="'mailto:' + element.descrizioneContatto"
              >
                <h4 sprkHeading variant="displayFour"
                  class="u-whiteSpace-pre-line u-FontWeight--300 sprk-u-Display--inline"
                >
                  {{element.descrizioneContatto}}
                </h4>
              </a>
              <a sprkLink variant="simple"
                *ngSwitchCase="'Telefono'"
                [href]="'tel:' + element.descrizioneContatto"
              >
                <h4 sprkHeading variant="displayFour"
                  class="u-whiteSpace-pre-line u-FontWeight--300 sprk-u-Display--inline"
                >
                  {{element.descrizioneContatto}}
                </h4>
              </a>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </ng-template>

  </div>
</div>
