<div class="sprk-o-CenteredColumn c-split-text">
  <div
    [id]="content.serviceName | replaceString | lowercase"
    class="u-display-flex u-flexJustify-center u-flexAlign-center"
    [ngClass]="{'sprk-o-Box--inset-tall-medium': tabletBP}"
  >
  </div>
  <sprk-stack splitAt="medium" [additionalClasses]="content.invertImagePosition ? 'sprk-o-Stack--split-reverse@m' : ''">
    <div
      sprkStackItem
      class="c-split-text__content sprk-o-Stack__item--half@m"
    >
      <picture>
        <source
          type="image/webp"
          [srcset]="content?.singleServiceImage?.responsiveImage?.webpSrcSet"
          [sizes]="content?.singleServiceImage?.responsiveImage?.sizes"
        >
        <img
          class="u-image-fill"
          [srcset]="content?.singleServiceImage?.responsiveImage?.srcSet"
          [sizes]="content?.singleServiceImage?.responsiveImage?.sizes"
          [src]="content?.singleServiceImage?.url"
          [alt]="content?.singleServiceImage?.responsiveImage?.alt || content.serviceName"
        >
      </picture>
    </div>
    <div
      sprkStackItem
      class="sprk-o-Stack__item--half@m"
    >
      <sprk-stack>
        <div sprkStackItem [ngClass]="{ 'sprk-o-Box--huge': tabletBP, 'sprk-o-Box--inset-tall-large': !tabletBP }">
          <div>
            <img [src]="content.mainIcon.url" class="o-icon-l u-color--brand-svg sprk-u-mbl" alt="" />
          </div>
          <h4 sprkHeading variant="displayFour" class="sprk-u-FontWeight--normal sprk-u-TextTransform--uppercase sprk-u-mbl">
            {{content.serviceName}}
          </h4>
          <p sprkText variant="bodyTwo" [innerHTML]="content.serviceContent">
          <p>
        </div>
      </sprk-stack>
    </div>
  </sprk-stack>
</div>
