@import 'node_modules/@sparkdesignsystem/spark-styles/web/scss/_colors.scss';
@import 'node_modules/@sparkdesignsystem/spark-styles/web/scss/_settings.scss';
@import '../../../scss/colors';

.c-page-header {
  min-height: 350px;
  padding-top: 122px;
  position: relative;

  @media all and (min-width: $sprk-split-breakpoint-s) {
    min-height: 360px;
  }

  &__filters {
    display: flex;

    flex-flow: wrap;

    > *:not(.c-page-header__filters-dropdown) {
      margin-bottom: 10px;
      margin-right: 20px;

      > span {
        background-color: adjust-color($dark, $alpha: -0.5);
        border-radius: 10px;
        display: inline-block;
        padding: 5px 15px;
      }
    }
  }

  &__filters-name,
  &__filters-close {
    cursor: pointer;
  }

  &__filters-name--active {
    background-color: adjust-color($dark, $alpha: -0.3) !important;
  }

  &__filters-close {
    background-color: $gife;
    border-radius: 50%;
    line-height: 24px;
    right: -12px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
  }

  &__download-icon {
    height: 50px;
    width: auto;
  }
}

.c-page-header__image {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  img {
    // object-position: top;
  }
}

.c-page-header__image-overlay {
  background-color: adjust-color($sprk-black, $alpha: -0.4);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  mix-blend-mode: hard-light;
}

.c-page-header__content {
  position: relative;
}

blockquote {
  quotes: '“' '”' '‘' '’';

  &::before,
  &::after {
    font-size: 5rem;
    position: absolute;
  }
  &::before {
    content: open-quote;
    transform: translate(-27px, -17px);
  }

  &::after {
    content: close-quote;
    transform: translate(0px, -14px);
  }
}
