<div class="c-page-header" #pageHeaderReference>
  <picture class="c-page-header__image">
    <source
      type="image/webp"
      [srcset]="responsiveImageUrls?.responsiveImage?.webpSrcSet"
      [sizes]="responsiveImageUrls?.responsiveImage?.sizes"
    >
    <img
      class="u-image-fill"
      [srcset]="responsiveImageUrls?.responsiveImage?.srcSet"
      [sizes]="responsiveImageUrls?.responsiveImage?.sizes"
      [src]="responsiveImageUrls?.url"
      [alt]="responsiveImageUrls?.responsiveImage?.alt || ''"
    >
  </picture>
  <div class="c-page-header__image-overlay"></div>
  <div idString="centered-column" class="c-page-header__content sprk-o-CenteredColumn">
    <div sprkBox spacing="insetTallLarge">
      <h3 sprkHeading variant="displayThree" class="sprk-u-MarginVertical--c sprk-u-TextTransform--uppercase sprk-u-FontWeight--normal sprk-u-TextAlign--center sprk-u-Color--white">
        {{pageTitle}}
      </h3>
      <p *ngIf="pageDescription && !bigQuote" sprkText variant="bodyTwo" class="sprk-u-Color--white" [ngClass]="{'sprk-u-TextAlign--center': centerAlign}">
        {{pageDescription}}
      </p>
      <h4 *ngIf="pageDescription && bigQuote" sprkHeading variant="displayFour" class="sprk-u-FontWeight--normal sprk-u-Color--white" [ngClass]="{'sprk-u-TextAlign--center': centerAlign}">
        <blockquote>
          {{pageDescription}}
        </blockquote>
        <cite sprkText variant="bodyOne" class="sprk-u-Color--white">{{autoreCitazione}}</cite>
      </h4>
      <div *ngIf="docDownload" class="sprk-u-mtl" [ngClass]="{'sprk-u-TextAlign--center': centerAlign}">
        <a [href]="docDownload" class="sprk-c-Button sprk-u-TextTransform--uppercase" target="_blank">
          <fa-icon [icon]="faArrowDown" size="2x" [classes]="['u-icon--aligner', 'sprk-u-mrs']"></fa-icon>
          Brochure
        </a>
      </div>
      <div *ngIf="filters" class="c-page-header__filters sprk-u-mtm u-flexJustify-center">
        <ng-container>
          <div *ngFor="let filter of filters" [hidden]="dropdownVisibility" class="sprk-u-Position--relative">
            <span
              (click)="worksService.setFilter(filter.filterName); router.navigate(['/opere'])"
              class="c-page-header__filters-name sprk-u-Color--white sprk-u-FontWeight--bold"
              [ngClass]="{ 'c-page-header__filters-name--active': (filter.filterName === currentFilter) }"
            >
              {{filter.filterName}}
            </span>
            <fa-icon
              *ngIf="filter.filterName === currentFilter"
              class="c-page-header__filters-close sprk-u-Position--absolute"
              (click)="worksService.setFilter(''); router.navigate(['../opere'])"
              [icon]="faTimes"
              size="md"
              [classes]="['u-icon--aligner']">
            </fa-icon>
          </div>
        </ng-container>
        <div class="c-page-header__filters-dropdown" [hidden]="!dropdownVisibility">
          <a
            #filterDropdown
            class="sprk-c-Dropdown__trigger sprk-b-Link sprk-b-Link--plain sprk-u-mhs sprk-u-Color--white sprk-u-FontWeight--bold"
            data-sprk-dropdown-trigger="dropdown02"
            aria-haspopup="listbox"
            aria-label="Dropdown example description"
            (click)="showDropdown = !showDropdown">
              <span
                data-sprk-dropdown-trigger-text-container=""
              >
              {{ currentFilter }}
              </span>
              <svg
                class="
                  sprk-c-Icon
                  sprk-c-Icon--filled-current-color
                  sprk-c-Icon--stroke-current-color
                  sprk-u-mls
                "
                viewBox="0 0 100 100">
                <use xlink:href="#chevron-down" />
              </svg>
          </a>

          <div
            class="sprk-c-Dropdown"
            [ngClass]="{ 'sprk-u-Display--none': !showDropdown }"
            data-sprk-dropdown="dropdown02"
            data-id="dropdown-2"
          >
            <ul
              class="sprk-c-Dropdown__links"
              role="listbox"
              aria-label="Dropdown example description"
            >
              <li *ngFor="let choice of worksService.dropdownChoices"
                class="sprk-c-Dropdown__item sprk-u-Color--white"
                role="option"
                (click)="worksService.setFilter(choice.value); router.navigate(['../opere']); showDropdown = false"
              >
                <a
                  class="sprk-c-Dropdown__link"
                  [ngClass]="{ 'sprk-c-Dropdown__link--active': choice.active }"
                  aria-label="Choice Title 1"
                  data-sprk-dropdown-choice="Choice Title 1"
                >
                  <p class="sprk-b-TypeBodyOne">
                    {{ choice.value }}
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
