@import 'node_modules/@sparkdesignsystem/spark-styles/web/scss/_colors.scss';
@import 'node_modules/@sparkdesignsystem/spark-styles/web/scss/_settings.scss';
@import '../../../scss/colors';
// .o-carousel {

//   .c-slide-container {
//       height: 100vh;
//       display: flex;
//       align-items: center;
//       background-size: cover;
//   }
// }

.c-portfolio {
  &--step-container {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), calc(50% - (10.2rem /2)) calc(100% - 30px) ,calc(50% - (13rem /2)) 100%,0 100%);

    @media (min-width: $sprk-split-breakpoint-m) {
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), calc(50% - (65.2rem /2)) calc(100% - 30px) ,calc(50% - (68rem /2)) 100%,0 100%);
    }
  }

  &--decorations {
    &:before,
    &:after {
      background-color: $gife;
      content: '';
      display: block;
      height: 60px;
      pointer-events: none;
      position: absolute;
      width: 40px;
      z-index: 6;
    }

    &:before {
      bottom: 0;
      left: 0;

      clip-path: polygon(0 0, 100% 100%, 0 100%);
    }

    &:after {
      bottom: 30px;
      right: 0;

      clip-path: polygon(0 100%, 100% 0, 100% 100%);
    }
  }
}

.c-slide {
  &--title {
    box-sizing: border-box;
  }

  &--container {
    // height: 100vh;
    // display: flex;
    // align-items: center;
    // background-size: cover;
  }

  &--content {
    color: white;
    display: flex;
    min-height: 100%;
    position: absolute;
    text-align: center;
    top: 0;

    flex-flow: column;
    justify-content: center;

    h1,
    h2,
    h3,
    h4,
    h5 {
      color: white;
      // text-shadow: 0px 0px 2px black;
      position: relative;
    }

    h1 {
      font-size: clamp(3rem, 3.8vw, 5rem);
      margin-bottom: clamp(4rem, 2.3vw, 4rem);
    }

    h5 {
      font-size: clamp(1.6rem, 2vw, 2.5rem);
    }

    &::before {
      background-color: adjust-color($dark, $alpha: -0.7);
      bottom: 0;
      content: ' ';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &--image {
    background-position: center;
    background-size: cover;
  }
}

$logo-width: calc((100vh * 1.472)/2 + 10vh);

.o-big-logo {
  display: none;

  @media (min-width: $sprk-split-breakpoint-s) {
    background-position: 93%;
    background-repeat: no-repeat;
    background-size: auto 120%;
    display: block;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: $logo-width;
    z-index: 5;

    filter: contrast(0) brightness(2) opacity(0.3);
  }
}

$arrow-width: 45px;

.o-big-arrow {
  bottom: 80px;
  left: 50vw;
  position: absolute;
  transform: translate(-50%, 0);
  width: $arrow-width;
  z-index: 5;

  &:hover {
    cursor: pointer;
  }
}
