<div class="c-portfolio" [ngClass]="{'c-portfolio--decorations': decorations, 'c-portfolio--step-container': stepContainer}" #portfolioReference>
  <div *ngIf="sideTitle" class="sideTitle sprk-o-Box--large u-flexJustify-center@mobile"
    [ngClass]="
      {
        'sideTitle--default': !sideTitle.right || !sideTitle.top,
        'sideTitle--right': sideTitle.right,
        'sideTitle--top': sideTitle.top,
        'sideTitle--switch-color': sideTitle.switchColor
      }">
    <h3 sprkHeading variant="displayThree" class="sprk-u-TextTransform--uppercase sprk-u-FontWeight--normal">
      <a sprkLink variant="simple" [routerLink]="['/', titleLink | lowercase]" class="u-color--brand-text u-colorLink--brand sprk-u-FontWeight--normal">
        {{titleLink}}
      </a>
    </h3>
  </div>

  <ng-container *ngIf="remappedPrjElements.length">
    <swiper class="swiper-container c-slide c-slide--container" [config]="customSwiperConfig" #usefulSlider #thumbsSlider>
        <div *ngFor="let element of remappedPrjElements" class="swiper-slide">
          <ng-container *ngIf="hover">
            <div
              [ngClass]="{'u-custom-hover': hover}"
              class="c-slide--title sprk-o-Box--large sprk-u-Position--absolute sprk-u-AbsoluteCenter sprk-u-Height--100 sprk-u-Width-100"
              (click)="worksService.gotoProject(element.id)"
            >
              <h3
                sprkHeading variant="displayFour"
                [ngClass]="{'o-custom-underliner': underlined}"
                class="sprk-u-Color--white sprk-u-Position--relative"
              >
                {{ element.title }}
              </h3>
            </div>
          </ng-container>
          <!-- <div class="c-slide--image" [ngStyle]="{'background-image': 'url(' + element.image.url + ')', 'height': customHeight || '200px'}"></div> -->
            <picture
              class="c-slide--image"
              [ngStyle]="{'height': customHeight || '200px'}"
            >
              <source
                type="image/webp"
                [srcset]="element?.image?.responsiveImage?.webpSrcSet"
                [sizes]="element?.image?.responsiveImage?.sizes"
              >
              <img
                class="u-image-fill"
                [srcset]="element?.image?.responsiveImage?.srcSet"
                [sizes]="element?.image?.responsiveImage?.sizes"
                [src]="element?.image?.url"
                [alt]="element?.image?.responsiveImage?.alt || element.slideHeading"
                [ngStyle]="{'height': customHeight || '200px'}"
              >
            </picture>
          <div class="c-slide--content sprk-u-Width-100 u-flexAlign-center" *ngIf="element.slideHeading || element.slideText">
            <!-- appChangeFontSize [setSize]="1" -->
            <h1
              sprkHeading variant="displayOne"
              class="u-FontWeight--500 sprk-u-Measure"
            >
              {{ element.slideHeading }}
            </h1>
            <h5 sprkHeading variant="displayFive" class="u-FontWeight--300 sprk-u-Measure">{{ element.slideText }}</h5>
          </div>
        </div>
    </swiper>
  </ng-container>

  <div *ngIf="bigLogoUrl" class="o-big-logo"
      [ngStyle]="{'background-image': 'url(' + bigLogoUrl + ')', 'height': customHeight || '200px'}">
  </div>

  <div *ngIf="bigArrow" class="o-big-arrow" (click)="scrollPage()">
    <img width="45" height="45" class="u-color--white-svg" src="../../assets/icons/arrow-down-sign-to-navigate.svg" alt="" />
  </div>
</div>
