<svg class="u-svg-filter--hide">
  <defs>
    <filter id="colorizeBrand" color-interpolation-filters="sRGB">
      <feColorMatrix
        type="matrix"
        values="0 0 0 0 .917
                0 0 0 0 .203
                0 0 0 0 .137
                0 0 0 1 0" />
    </filter>
  </defs>
</svg>
<div id="sprk-icons">
  <svg aria-hidden="true" width="0" height="0" style="position:absolute">
    <symbol viewBox="0 0 34 34" id="close" xmlns="http://www.w3.org/2000/svg" class="sprk-o-StrokeIconSymbol">
      <path fill="#1c1b1a" d="M33.66 1.53L32.59.47 17.13 15.94 1.66.47.59 1.53 16.06 17 .59 32.47l1.07 1.06 15.47-15.47 15.46 15.47 1.07-1.06L18.19 17 33.66 1.53z"></path>
    </symbol>
    <symbol viewBox="0 0 34 34" id="chevron-down" xmlns="http://www.w3.org/2000/svg" class="sprk-o-StrokeIconSymbol">
      <path fill="#1c1b1a" d="M16.98 26.66L.47 10.11l1.06-1.06 15.45 15.49L32.47 9.09l1.06 1.06-16.55 16.51z"></path>
    </symbol>
  </svg>
</div>

<div class="page-container" #pageContainer>
  <div *ngIf="globalUIService.globalUI" class="o-menu o-top-menu-bar" #topMenuBarRef>
    <div class="sprk-c-Masthead__content">
      <div sprkBox spacing="insetShortMedium" class="o-top-menu-bar__content">
        <h5 *ngIf='globalUIService.globalUI.data.header.brandEvent' sprkHeading variant="displayFive" class="o-top-menu-bar__brand-event-text sprk-u-TextTransform--uppercase sprk-u-FontWeight--bold sprk-u-Color--white">
          {{brandEventFirstWord}} {{brandEventText}}
        </h5>
        <p *ngIf="commondataService.isSocial" sprkText variant="bodyFour" class="sprk-u-TextTransform--uppercase sprk-u-FontWeight--bold sprk-u-mrl">
          <span class="sprk-u-FontWeight--bold sprk-u-Color--white">
            seguici su
          </span>
        </p>
        <ng-container *ngFor="let socialProfile of globalUIService.globalUI.data.allSocialProfiles; index as i">
          <a *ngIf="socialProfile.profileType === 'Facebook' && socialProfile.enable" sprkLink variant="plain" [href]="socialProfile.url" target="_blank" class="sprk-u-mrs sprk-u-Color--white">
            <fa-icon [icon]="faFacebookSquare" size="2x"></fa-icon>
          </a>
          <a *ngIf="socialProfile.profileType === 'LinkedIn' && socialProfile.enable" sprkLink variant="plain" [href]="socialProfile.url" class="sprk-u-Color--white">
            <fa-icon [icon]="faLinkedin" size="2x"></fa-icon>
          </a>
        </ng-container>

      </div>
    </div>
  </div>

  <sprk-masthead *ngIf="globalUIService.globalUI" [narrowNavLinks]="menuList" logoRouterLink="/home" idString="masthead-1" additionalClasses="o-menu c-menu-bar" #mastHeadRef> <!-- TODO: fix narrowNavLinks -->
    <div class="sprk-c-Masthead__logo-container u-display-flex u-flexJustify-center u-flexAlign-center sprk-u-WhiteSpace--nowrap" logo-slot-router>
      <img height="45" width="65" class="sprk-c-Masthead__logo sprk-u-mrm" [src]="globalUIService.globalUI.data.header.brandMenuLogo.url" [alt]="globalUIService.globalUI.data.header.brandName" />
      <h6 sprkHeading variant="displaySeven" class="sprk-u-TextTransform--uppercase sprk-u-FontWeight--bold">
        {{globalUIService.globalUI.data.header.brandName}}
      </h6>
      <div *ngIf='globalUIService.globalUI.data.header.brandEvent' class="sprk-c-Masthead__brand-event-text" [attr.data-brand-event-fw]="brandEventFirstWord" [attr.data-brand-event]="brandEventText"></div>
    </div>

    <div
      class="sprk-o-Stack__item sprk-o-Stack__item--flex@xxs sprk-o-Stack sprk-o-Stack--misc-a sprk-o-Stack--split@xxs sprk-o-Stack--end-row"
      little-nav-slot
    >
      <ul class="sprk-o-Stack__item sprk-o-HorizontalList sprk-o-HorizontalList--spacing-large sprk-o-Stack__item--center-column">
        <ng-container *ngFor="let menuVoice of menuList">
          <li>
            <a sprkLink variant="simple" class="sprk-c-Masthead__link"
              [routerLink]="menuVoice.routerLink"
              routerLinkActive="sprk-c-Masthead__big-nav-item--active"
            >
              {{menuVoice.text}}
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
  </sprk-masthead>

  <router-outlet></router-outlet>

  <app-footer
    *ngIf="globalUIService.globalUI?.data && menuList"
    [contacts]="globalUIService.globalUI.data.footer"
    [menuItems]="menuList"
    [siteData]="globalUIService.globalUI"
    [bigLogoUrl]="globalUIService.globalUI.data.header.brandLogo.url">
  </app-footer>
</div>

<sprk-modal
  [(isVisible)]="commondataService.modalVisible"
  [title]="modalTitle"
  modalType="info"
  idString="appModal"
  confirmText="Accetto i cookie"
  cancelText="Non ora"
  (hide)="commondataService.modalSetActions(modalType, 'closed')"
>
  <div *ngIf="modalType !== 'choice'; else modalContentElse"
    class="c-modal__details u-text--space sprk-u-Overflow--auto sprk-u-prl"
    [innerHTML]="modalContent"
  >
  </div>
  <ng-template #modalContentElse>
    <div class="c-modal__details c-modal__details--choice u-text--space sprk-u-Overflow--auto sprk-u-prl" [innerHTML]="modalContent">
    </div>
    <a
      [href]="globalUIService.globalUI.data.footer.privacyFile.url" target="_blank"
      sprkLink
      variant="simple"
      idString="simple-link"
      analyticsString="simple-link"
      class="c-modal__file-link sprk-u-mrl u-alignSelf-center"
    >
      {{globalUIService.globalUI.data.footer.privacy}}
    </a>
    <a class="sprk-c-Button sprk-u-mrl" (click)="commondataService.modalSetActions(modalType, 'accepted')">
      Accetto i cookie
    </a>
  </ng-template>
</sprk-modal>
