@import 'scss/fonts';
@import 'scss/var-override';
@import 'node_modules/@sparkdesignsystem/spark-styles/spark.scss';
@import 'scss/colors';
@import 'scss/colors-utility';
@import 'scss/mixins';
@import 'scss/functions';
@import 'scss/utilities';
@import 'scss/scrollbar';
@import 'scss/swiper-custom';
@import 'scss/c-bullet-posts';
@import 'scss/c-diagram';
@import 'scss/split-text';
@import 'scss/chart';
@import 'scss/modal';


html {
  scroll-behavior: smooth;
}

[hidden] {
  display: none !important;
}

.sprk-c {
  &-Masthead {
    &__content {
      padding: 0;
    }

    &__branding {
      a {
        text-decoration: none;
      }
    }
  }
}


.spacer-all {
  flex: 1 1 auto;
}



.o-bottom-aligned-text {
  padding: 100% 0 0;
}

.o-top-menu-bar {
  background-color: adjust-color($sprk-black, $alpha: -0.5);

  &__content {
    color: $sprk-white;
    display: flex;
    height: 50px;
    max-height: 50px;

    fill: $sprk-white;
    justify-content: flex-end;
    align-items: center;
  }

  &__brand-event-text {
    flex: 1 0 auto;

    @media (min-width: $sprk-split-breakpoint-l) {
      display: none;
    }
  }
}

.o-icon-xxl {
  height: 128px;
  width: 128px;
}

.o-icon-xl {
  height: 96px;
  width: 96px;
}

.o-icon-l {
  height: 64px;
  width: 64px;
}

.u-icon--aligner {
  vertical-align: middle;
}

.u-text--space {
  > *:not(:last-child) {
    margin-bottom: 20px;
  }
}

.sideTitle {
  display: flex;

  justify-content: center;

  &--switch-color {
    color: $gife;

    * {
      color: $gife;
    }
  }

  @media all and (min-width: $sprk-split-breakpoint-l) {
    background-color: $gife;
    color: white;
    height: 100%;
    position: absolute;
    width: 240px; // calc(100vw / 6);
    z-index: 2;

    clip-path: polygon(0 0, 100% 100%, 0 100%);
    align-items: flex-end;
    justify-content: flex-start;

    * {
      color: white;
    }

    &--switch-color {
      background-color: adjust-color($lightest-gray, $alpha: -0.3); //rgba(255,255,255,.7);
      color: $gife;

      * {
        color: $gife;
      }
    }

    &--top {
      clip-path: polygon(0 0, 100% 0, 0 100%);
      align-items: unset;
    }

    &--right {
      right: 0;

      clip-path: polygon(0 100%, 100% 0, 100% 100%);
      justify-content: flex-end;
    }

    &.sideTitle--top.sideTitle--right {
      clip-path: polygon(0 0, 100% 0, 100% 100%);
    }
  }
}



.c-menu-bar {
  background-color: adjust-color($sprk-white, $alpha: -0.3);

  .sprk-c-Menu {
    background-color: transparent;
  }

  &.sprk-c-Masthead--open {
    height: 100vh;
  }
}

.c-footer {
  &__contact-list {
    // background-color: lime;

    li {
      display: flex;

      // a {
      //   flex: 0 1 auto;
      // }
    }
  }
}

// .o-carousel {

//     .c-slide-container {
//         height: 100vh;
//         display: flex;
//         align-items: center;
//         background-size: cover;
//     }
// }



.o-menu {
  &.o-top-menu-bar,
  &.c-menu-bar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  &.c-menu-bar {
    &.sprk-c-Masthead--scroll {
      top: 0 !important;
    }
  }
}


// .c-slide-content {
//     text-align: center;
// }

.c-slide__image-container {
  text-align: center;
}

.c-slide-clients {
  display: flex;

  align-items: center;
  justify-content: center;
}

.c-project-detail {
  swiper {
    > .swiper.s-wrapper {
      height: unset;
    }
  }
}

.c-portfolio-swiper {
  margin-bottom: -30px;
  z-index: 1;

  &:before {
    background-color: $gife;
    bottom: -10px;
    content: '';
    display: block;
    height: calc(100vh + 10px);
    position: absolute;
    width: 100%;

    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), calc(50% - (9.7rem /2)) calc(100% - 30px) ,calc(50% - (12.5rem /2)) 100%,0 100%);

    @media (min-width: $sprk-split-breakpoint-m) {
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), calc(50% - (64.7rem /2)) calc(100% - 30px) ,calc(50% - (67.5rem /2)) 100%,0 100%);
    }
  }
}

.c-news {
  margin-bottom: -30px;
}


.c-utility-bar {
  background-color: rgba(0, 0, 0, 0.5);
  .mat-toolbar-row {
    justify-content: flex-end;
  }
}



.sprk-c {
  &-Masthead {
    &__logo {
      height: 45px;
      max-height: 45px;
      max-width: unset;
      min-width: unset;
      width: auto;

      @media (min-width: $sprk-split-breakpoint-s) {
        height: 55px;
        max-height: 55px;
      }

      + span {
        flex: 1 0 auto;
      }
    }
    // TODO: elemento 30 Anni
    &__brand-event-text {
      display: none;

      @media (min-width: $sprk-split-breakpoint-l) {
        border-left: 1px solid black;
        bottom: 0;
        display: flex;
        height: 35px;
        left: calc(100% + 20px);
        margin: auto;
        padding-left: 20px;
        position: absolute;
        top: 0;

        align-items: center;

        &:after,
        &:before {
          color: $gife;
          font-style: italic;
        }

        &:after {
          content: attr(data-brand-event);
          font-size: 20px;
          font-weight: bold;
          text-transform: uppercase;
        }

        &:before {
          content: attr(data-brand-event-fw);
          font-size: 44px;
          font-weight: normal;
          left: 20px;
          letter-spacing: -2px;
          line-height: 1;
          margin-right: 2px;
          padding-top: 2px;
        }
      }
    }
  }
}

.u-no-transparent {
  .c-menu-bar {
    background-color: rgba(255, 255, 255, 1);
  }
}

.c-page-header {
  // background-blend-mode: overlay;
  // background-color: adjust-color($sprk-black, $alpha: -0.4);

  .sprk-c-Dropdown {
    background-color: adjust-color($dark, $alpha: -0.05);
    border: none;
    left: 50%;
    margin-top: 10px;
    text-align: center;
    transform: translateX(-50%);
    width: 80vw;
  }

  .sprk-c-Dropdown__link {
    p {
      color: $sprk-white;
    }

    &:hover {
      background-color: $sprk-black;
    }
  }

  .sprk-c-Dropdown__link--active {
    background-color: $medium-gray;

    p {
      font-weight: 700;
    }
  }

  .sprk-c-Dropdown__trigger {
    background-color: adjust-color($dark, $alpha: -0.5);
    border-radius: 10px;
    display: inline-block;
    padding: 5px 15px;
  }
}


.c-text {
  &__content {
    column-gap: 30px;
    column-fill: balance;

    p {
      @extend .sprk-u-TextCrop--none;
    }
  }
}
