<div class="sprk-o-CenteredColumn">
  <div
    class="sprk-u-mvl"
    [ngClass]="{ 'sprk-u-MarginHorizontal--c' : currentBreakpoint !== 'mobile' }">
    <h3 sprkStackItem sprkHeading variant="displayThree" class="sprk-u-mbh sprk-u-TextTransform--uppercase sprk-u-FontWeight--normal sprk-u-TextAlign--center u-color--brand-text">
      <ng-content></ng-content>
    </h3>
    <div #frappeChart appFrappe
      id="chart"
      [data]="data"
      [title]="title"
      [height]="height"
      >
    </div>
  </div>
</div>
