@import "node_modules/@sparkdesignsystem/spark-styles/web/scss/_colors.scss";
@import "node_modules/@sparkdesignsystem/spark-styles/web/scss/_settings.scss";
@import '../../../scss/colors';

.c-news {
  background-color: $ultra-lightest-gray;

  &--container {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), calc(50% - (55.2rem /2)) calc(100% - 30px), calc(50% - (58rem /2)) 100%, 0 100%);
  }

  &__title-container {
    @media all and (min-width: $sprk-split-breakpoint-s) {
      margin-bottom: 64px;
      margin-top: 8px;
    }
  }

  h4[sprkheading] {
    margin-bottom: 30px;

    @media all and (min-width: $sprk-split-breakpoint-s) {
      margin-bottom: unset;
    }
  }
}
