<div class="c-news c-news--container">
  <div class="sprk-o-CenteredColumn">
      <div sprkBox spacing="large" class="sprk-u-PaddingTop--b">
        <h3 sprkStackItem sprkHeading variant="displayThree" class="sprk-u-TextTransform--uppercase sprk-u-FontWeight--normal u-fontCenter@mobile u-color--brand-text u-display-none@desktop sprk-u-mbl">
          News
        </h3>
        <swiper class="swiper-container c-slide c-slide--container" [config]="customSwiperConfig">
          <ng-container *ngFor="let news of newsList">
            <sprk-stack [additionalClasses]="news.newsDetail ? 'c-news__content-wrapper u-pointer' : 'c-news__content-wrapper'" (click)="news.newsDetail && commondataService.openModal(true, news.newsTitle, news.newsDetail)">
              <div sprkStackItem class="c-news__title-container u-pushRight@desktop">
                <sprk-stack splitAt="small" additionalClasses="sprk-u-pts">
                  <h4 sprkStackItem sprkHeading variant="displayFive" class="sprk-o-Stack__item--half@s sprk-u-FontWeight--bold u-fontCenter u-fontLeft@s">
                    {{news.newsTitle}}
                  </h4>
                  <h4 sprkStackItem sprkHeading variant="displayFive" class="sprk-o-Stack__item--half@s u-color--brand-text u-fontCenter u-fontRight@s">
                    {{news._publishedAt | date:'d MMMM y'}}
                  </h4>
                </sprk-stack>
              </div>
              <p sprkStackItem sprkText variant="bodyTwo" class="u-pushRight@desktop sprk-u-mbl"
                [innerHTML]="utilsService.truncateString(news.newsAbstract).truncate(250, 1)"
              >
              </p>
              <p *ngIf="news.newsDetail" sprkStackItem sprkText variant="bodyFour" class="u-pushRight@desktop u-fontCenter@mobile sprk-u-FontWeight--bold sprk-u-mbs">
                Leggi di più
              </p>
            </sprk-stack>
          </ng-container>
        </swiper>
        <h3 sprkStackItem sprkHeading variant="displayThree" class="sprk-u-TextTransform--uppercase sprk-u-FontWeight--normal u-fontCenter@mobile u-color--brand-text u-display-none@mobile">
          News
        </h3>
      </div>

  </div>
</div>
