<app-portfolio-swiper
  *ngIf="homepage_content && globalUIService.globalUI"
  [prjElements]="homepage_content.home.homeCarousel"
  [customSwiperConfig]="heroSwiperConfig"
  [bigLogoUrl]="globalUIService.globalUI.data.header.brandLogo.url"
  [bigArrow]="true"
  customHeight="calc(calc(var(--vh, 1vh) * 100) - 5px)"
  [decorations]="true"
  [stepContainer]="true"
  class="sprk-u-Display--block sprk-u-Position--relative c-portfolio-swiper"
  #homeSlider
>
</app-portfolio-swiper>


<app-news *ngIf="homepage_content" [newsList]="homepage_content.allNews" class="c-news sprk-u-Display--block"></app-news>
<ng-container *ngIf="homepage_content">
  <app-info-data [infos]="homepage_content.home.azienda" [titleLink]=""></app-info-data>
</ng-container>

<app-icon-strip *ngIf="homepage_content" [stripData]="homepage_content.servizi" (modalTrigger)="commondataService.setModal($event)"></app-icon-strip>

<app-portfolio-swiper
  *ngIf="homepage_content"
  [prjElements]="homepage_content.allWorks"
  [sideTitle]="portfolioParams"
  titleLink="Opere"
  [customSwiperConfig]="portfolioSwiperConfig"
  customHeight="400px"
  [hover]="true"
  [underlined]="true"
  class="sprk-u-Display--block sprk-u-Position--relative">
</app-portfolio-swiper>

<app-clients-swiper *ngIf="homepage_content" [clientData]="homepage_content.home.clienti" [slidesHeight]="[120,60,30]"></app-clients-swiper>
<app-award-downloader *ngIf="homepage_content" [awards]="homepage_content.home.certificazioni">
  Certificazioni
</app-award-downloader>
<app-action-caller *ngIf="homepage_content" [actionInfo]="homepage_content.home"></app-action-caller>
