<ng-container *ngIf="aziendaContent">
  <app-page-header
    [responsiveImageUrls]="aziendaContent.aboutPage.image"
    [pageTitle]="aziendaContent.aboutPage.title"
    [pageDescription]="aziendaContent.aboutPage.content"
    [docDownload]="aziendaContent.aboutPage.brochure?.url"
    [centerAlign]="aziendaContent.aboutPage.allineaAlCentro"
    [bigQuote]="aziendaContent.aboutPage.bigQuote"
    [autoreCitazione]="aziendaContent.aboutPage.autoreCitazione"
  >
  </app-page-header>
  <app-text [heading]="aziendaContent.aboutPage.heading" [paragraph]="aziendaContent.aboutPage.paragraph"></app-text>
  <app-bullet-posts [bulletElements]="keyConceptElements">
    Princìpi Aziendali
  </app-bullet-posts>

  <app-chart
    chartId="fatturatoAzienda"
    [data]="frappedata"
    [height]="500"
    [title]="aziendaContent.aboutPage.chartDescription"
  >
    {{aziendaContent.aboutPage.chartTitle}}
  </app-chart>

  <div class="c-diagram__container">
    <div class="sprk-o-CenteredColumn">
      <div class="sprk-o-Box sprk-o-Box--inset-tall-large">
        <div class="sprk-u-mbl c-text">
          <h3 sprkHeading variant="displayThree" class="sprk-u-TextTransform--uppercase sprk-u-FontWeight--normal u-fontCenter sprk-u-mbh u-color--brand-text">
            {{aziendaContent.aboutPage.strutturaOrganizzativaTitle || 'Struttura organizzativa'}}
          </h3>
        </div>
        <picture class="c-diagram__image">
          <source
            type="image/webp"
            [srcset]="aziendaContent.aboutPage.diagrammaAziendale?.responsiveImage?.webpSrcSet"
            [sizes]="aziendaContent.aboutPage.diagrammaAziendale?.responsiveImage?.sizes"
          >
          <img
            loading="lazy"
            class="u-image-fill"
            [srcset]="aziendaContent.aboutPage.diagrammaAziendale?.responsiveImage?.srcSet"
            [sizes]="aziendaContent.aboutPage.diagrammaAziendale?.responsiveImage?.sizes"
            [src]="aziendaContent.aboutPage.diagrammaAziendale?.url"
            [alt]="aziendaContent.aboutPage.diagrammaAziendale?.responsiveImage?.alt || aziendaContent.aboutPage.strutturaOrganizzativaTitle"
          >
        </picture>
      </div>
    </div>
  </div>
</ng-container>
