@import 'node_modules/@sparkdesignsystem/spark-styles/web/scss/_colors.scss';
@import 'node_modules/@sparkdesignsystem/spark-styles/web/scss/_settings.scss';
@import '../../../scss/colors';

.c-footer {
  background-color: $lightest-gray;
  &__logo {
    height: 60px;
    margin-bottom: 22px;
    max-height: 60px;

    object-fit: contain;
    object-position: left;
  }

  &__big-logo {
    background-position: 40% bottom;
    background-repeat: no-repeat;
    background-size: auto 140%;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;

    filter: grayscale(1) opacity(0.05);

    @media all and (min-width: $sprk-split-breakpoint-s) {
      background-position: 75% bottom;
    }
    @media all and (min-width: $sprk-split-breakpoint-m) {
      background-position: 160% bottom;
    }
    @media all and (min-width: $sprk-split-breakpoint-l) {
      background-position: -7% bottom;
    }
  }

  &--stack-container {
    z-index: 5;
  }

  &__stack {
    &:nth-last-child(-n+3) {
      h6 {
        color: $light-gray;
        margin-top: 52px;
      }
    }
  }

  &__stack-item {
    flex: 1;
  }

  &__credits-bar {
    p {
      // color: $medium-gray;
      color: $sprk-black-tint-50;

      * {
        display: block;

        @media all and (min-width: $sprk-split-breakpoint-s) {
          display: inline;
        }
      }

      a {
        color: $sprk-black-tint-70;
      }
    }
  }

  &__contact-list-title {
    margin-top: 2px;
  }
}
