<div class="c-footer sprk-u-PaddingBottom--d sprk-u-ptl sprk-u-Position--relative" #cFooter>
  <div idString="centered-column" class="sprk-o-CenteredColumn sprk-u-Position--relative c-footer--stack-container">
    <sprk-stack splitAt="large" additionalClasses="sprk-u-phl">
      <div sprkStackItem class="sprk-o-Stack__item--half@l c-footer__stack">
        <sprk-stack splitAt="small">
          <div sprkStackItem class="sprk-o-Stack__item--half@s sprk-u-prh">
            <img width="87" height="60" class="c-footer__logo" [src]="siteData.data.header.brandMenuLogo.url" [alt]="contacts.ragioneSociale"/>
            <sprk-stack splitAt="medium">
              <div sprkStackItem>
                <sprk-unordered-list
                listType="bare"
                additionalClasses="c-footer__contact-list"
                >
                  <sprk-list-item idString="ragioneSociale">
                    <p class="sprk-u-FontWeight--bold u-fontLink">
                      {{contacts.ragioneSociale}}
                    </p>
                  </sprk-list-item>
                  <sprk-list-item>
                    <p class="u-fontLink">
                      &nbsp;
                    </p>
                  </sprk-list-item>
                  <sprk-list-item idString="partitaIva">
                    <p class="u-fontLink">
                      P.IVA: {{contacts.partitaIva}}
                    </p>
                  </sprk-list-item>
                  <sprk-list-item idString="codiceFiscale">
                    <p class="u-fontLink">
                      Cod. Fiscale: {{contacts.codiceFiscale}}
                    </p>
                  </sprk-list-item>
                  <sprk-list-item>
                    <p class="u-fontLink">
                      &nbsp;
                    </p>
                  </sprk-list-item>
                  <sprk-list-item *ngIf="contacts.privacyFile.url" idString="privacy">
                    <a sprkLink variant="simple" class="u-whiteSpace-pre-line u-fontLine-fix" [href]="contacts.privacyFile.url" target="_blank">
                      <p class="u-fontLink">
                        {{contacts.privacy}}
                      </p>
                    </a>
                  </sprk-list-item>
                </sprk-unordered-list>
              </div>
            </sprk-stack>
          </div>
          <div sprkStackItem class="sprk-o-Stack__item--half@s sprk-u-prh">
            <h6 sprkHeading variant="displaySeven" class="sprk-u-TextTransform--uppercase sprk-u-MarginBottom--a sprk-u-FontWeight--bold">
              Contatti
            </h6>
            <sprk-stack splitAt="medium">
              <div sprkStackItem class="c-footer__stack-item">
                <sprk-unordered-list
                listType="bare"
                additionalClasses="c-footer__contact-list"
                >
                  <ng-container *ngFor="let contatto of contacts.contatti">
                    <sprk-list-item idString="indirizzoA" *ngIf="contatto.titoloContatto && contatto.descrizioneContatto">
                      <fa-icon [icon]="utilsService.iconSetup(contatto.iconaContatto)" [fixedWidth]="true" size="md" class="sprk-u-mrs"></fa-icon>
                      <div [ngSwitch]="contatto.iconaContatto">
                        <a sprkLink variant="simple"
                          *ngSwitchCase="'Indirizzo'"
                          class="u-whiteSpace-pre-line u-fontLine-fix"
                          (click)="commondataService.setMapCenter(contatto.coordinate.latitude, contatto.coordinate.longitude); router.navigate(['contatti'], { fragment: 'map' })"
                        >
                          <p sprkText variant="bodyFour" class="sprk-u-TextTransform--uppercase c-footer__contact-list-title u-fontLink sprk-u-FontWeight--bold">
                            {{contatto.titoloContatto}}
                          </p>
                          {{contatto.descrizioneContatto}}
                        </a>
                        <a sprkLink variant="simple"
                          *ngSwitchCase="'Mail'"
                          class="u-whiteSpace-pre-line u-fontLine-fix"
                          [href]="'mailto:' + contatto.descrizioneContatto"
                        >
                          <p sprkText variant="bodyFour" class="sprk-u-TextTransform--uppercase c-footer__contact-list-title u-fontLink sprk-u-FontWeight--bold">
                            {{contatto.titoloContatto}}
                          </p>
                          {{contatto.descrizioneContatto}}
                        </a>
                        <a sprkLink variant="simple"
                          *ngSwitchCase="'Telefono'"
                          class="u-whiteSpace-pre-line u-fontLine-fix"
                          [href]="'tel:' + contatto.descrizioneContatto"
                        >
                          <p sprkText variant="bodyFour" class="sprk-u-TextTransform--uppercase c-footer__contact-list-title u-fontLink sprk-u-FontWeight--bold">
                            {{contatto.titoloContatto}}
                          </p>
                          {{contatto.descrizioneContatto}}
                        </a>
                      </div>
                    </sprk-list-item>
                  </ng-container>
                </sprk-unordered-list>
              </div>
            </sprk-stack>
          </div>
        </sprk-stack>
      </div>
      <div sprkStackItem class="sprk-o-Stack__item--half@l c-footer__stack">
        <sprk-stack splitAt="small">
          <div sprkStackItem class="sprk-o-Stack__item--seven-tenths@s">
            <h6 sprkHeading variant="displaySeven" class="sprk-u-TextTransform--uppercase sprk-u-MarginBottom--a sprk-u-FontWeight--bold">
              GI.FE.
            </h6>
            <sprk-stack splitAt="tiny">
              <div *ngFor="let columns of slicedMenuVoices; index as i" sprkStackItem class="sprk-o-Stack__item--half@xs">
                <sprk-unordered-list
                listType="bare"
                additionalClasses="c-footer__contact-list"
                >
                  <sprk-list-item *ngFor="let menuVoice of columns">
                    <a sprkLink variant="simple"
                      [routerLink]="menuVoice.routerLink"
                    >
                      {{ menuVoice.text }}
                    </a>
                  </sprk-list-item>
                </sprk-unordered-list>
              </div>
            </sprk-stack>
          </div>
          <div sprkStackItem class="sprk-o-Stack__item--three-tenths@s">
            <h6 *ngIf="commondataService.isSocial" sprkHeading variant="displaySeven" class="sprk-u-TextTransform--uppercase sprk-u-MarginBottom--a sprk-u-FontWeight--bold">
              Social
            </h6>
            <ng-container *ngFor="let socialProfile of siteData.data.allSocialProfiles">
              <a *ngIf="socialProfile.profileType === 'Facebook' && socialProfile.enable" sprkLink variant="plain" [href]="socialProfile.url" class="sprk-u-mrs u-color--tp-fb-text">
                <fa-icon [icon]="faFacebookSquare" size="2x"></fa-icon>
              </a>
              <a *ngIf="socialProfile.profileType === 'LinkedIn' && socialProfile.enable" sprkLink variant="plain" [href]="socialProfile.url" class="u-color--tp-twitter-text">
                <fa-icon [icon]="faLinkedin" size="2x"></fa-icon>
              </a>
            </ng-container>
          </div>
        </sprk-stack>
      </div>
    </sprk-stack>
  </div>
  <div *ngIf="bigLogoUrl" class="c-footer__big-logo"
    [ngStyle]="{'background-image': 'url(' + bigLogoUrl + ')'}">
  </div>
</div>
<div class="c-footer__credits-bar sprk-u-TextTransform--uppercase sprk-u-BackgroundColor--black-tint-20 u-fontCenter@mobile">
  <div idString="centered-column" class="sprk-o-CenteredColumn sprk-u-phl">
    <sprk-stack splitAt="medium">
      <div sprkStackItem class="sprk-o-Stack__item--half@m sprk-u-pvm">
        <p sprkText variant="bodyFour" class="u-FontWeight--800">
          Copyright {{ currentYear | date : 'yyyy' }} <span class="u-display-none@mobile"> - </span> <span>{{contacts.copyright}}</span>
        </p>
      </div>
      <div sprkStackItem class="sprk-o-Stack__item--half@m sprk-u-pvm">
        <p sprkText variant="bodyFour" class="u-FontWeight--800 u-fontRight@desktop">
          designed & developed by:
          <a sprkLink variant="simple" class="u-FontWeight--800" href="https://higb.it/" target="_blank">Gabriele Siculiana</a>
        </p>
      </div>
    </sprk-stack>

  </div>
</div>
