<div *ngIf="(apiLoaded | async) || commondataService.loadedAPI" tabindex="0">
  <google-map #googleMapRef
    id="map"
    [options]="options"
    [height]="dynamicHeight"
    width="100%"
    [center]="commondataService.mapCenter"
  >
    <map-marker *ngFor="let markerPosition of commondataService.markerPositions"
      [position]="markerPosition"
      [options]="markerOptions">
    </map-marker>
  </google-map>
</div>
