@import "node_modules/@sparkdesignsystem/spark-styles/web/scss/_colors.scss";
@import "node_modules/@sparkdesignsystem/spark-styles/web/scss/_settings.scss";

.c-bullet-posts__icon {
  background-color: $gife;
  border-radius: 50%;
  padding: 8px;
  line-height: initial;
  transform: translate(-50%, -50%);
  border: 5px solid $ultra-lightest-gray;
}

.c-bullet-posts__container {
  background-color: $ultra-lightest-gray;
}

// per questo elemento devo per forza farlo fuori dal componente
.c-bullet-posts__item-container {
  // flex-direction: column;
  // max-height: 2300px;

  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: 0;
  grid-row-gap: 32px;
}

.c-bullet-posts__item {
  // flex: 1 1 auto;

  // @media all and (min-width: $sprk-split-breakpoint-s) {
  //   max-width: calc(100%/2);
  // }

  // @media all and (min-width: $sprk-split-breakpoint-l) {
  //   max-width: calc(100%/3);
  // }

  // @media all and (min-width: $sprk-split-breakpoint-xl) {
  //   max-width: calc(100%/4);
  // }
}

.c-bullet-posts__content {
  background-color: #eadede;
}



// :root {
//   counter-reset: masonry;
// }
// .masonry {
//   display: grid;
//   grid-gap: 10px;
//   grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
//   grid-auto-rows: 0;
// }

// .masonry-item {
//   border-radius: 5px;
// }

// .masonry-item {
//    background-color: #eee;
//    border-radius: 5px;
//    overflow: hidden;
// }

// .masonry-item,
// .masonry-item img {
//    position: relative;
// }

// .masonry-item:after {
//   font-weight: bold;
//   background-color: rgba(0, 0, 0, .5);
//   content: counter(masonry);
//   counter-increment: masonry;
//   position: absolute;
//   top: 0;
//   left: 0; 
//   height: 100%;
//   width: 100%;
//   color: white;
//   display: flex;
//   justify-content: center; 
//   align-items: center;
//   transition: all .1s ease-in;
// }

// .masonry-item:hover:after {
//   font-size: 30px;
//   background-color: rgba(0, 0, 0, .75);
// }
