.chart-container {
  text {
    @extend .sprk-b-TypeBodyFour;
  }

  text.data-point-value {
    font-weight: 500;

    @extend .sprk-b-TypeBodyFour;

    @media (min-width: $sprk-split-breakpoint-s) {
      font-size: 1rem;
    }
  }

  text.title {
    @extend .sprk-b-TypeBodyOne;
  }
}
