$dark: black;
$gife: #EA3423;

$medium-gray: adjust-color(black, $lightness: 63%);
$medium-light-gray: adjust-color(black, $lightness: 71%);
$light-gray: adjust-color(black, $lightness: 77%);
$super-light-gray: adjust-color(black, $lightness: 88%); // è usato per la filigrana del footer lasciato solo come riferimento
$ultra-light-gray: adjust-color(black, $lightness: 91%);
$lightest-gray: adjust-color(black, $lightness: 96%);
$ultra-lightest-gray: adjust-color(black, $lightness: 98%);

$tp-fb: #3b5998;
$tp-twitter: #00acee;
