.u-color {
  &--brand {
    &-text {
      color: $gife !important;
    }

    &-bg {
      background-color: $gife;
    }

    &-svg {
      filter: url(#colorizeBrand);
    }
  }

  &--white {
    &-svg {
      filter: contrast(0) brightness(2);
    }
  }

  &--black {
    background-color: black;
    &-transparent {
      &-25{
        background-color: transparentize($color: black, $amount: 0.75);
      }
      &-50{
        background-color: transparentize($color: black, $amount: 0.5);
      }
      &-75{
        background-color: transparentize($color: black, $amount: 0.25);
      }
    }
  }

  &--gray {
    &-light {
      &-text {
        color: $light-gray !important;
      }

      &-bg {
        background-color: $light-gray;
      }
    }
  }

  &Link {
    &--brand {
      &:hover {
        border-color: $gife !important;
      }
    }

    &--white {
      &:hover {
        border-color: $sprk-white !important;
      }
    }

    &--brand {
      &\@mobile {
        &:hover {
          @media all and (max-width: $sprk-split-breakpoint-l) {
            border-color: $gife !important;
          }
        }
      }
    }

    &--white {
      &\@desktop {
        &:hover {
          @media all and (min-width: $sprk-split-breakpoint-l) {
            border-color: $sprk-white !important;
          }
        }
      }
    }
  }

  &--tp-fb {
    &-text {
      color: $tp-fb !important;
    }

    &-bg {
      background-color: $tp-fb;
    }
  }

  &--tp-twitter {
    &-text {
      color: $tp-twitter !important;
    }

    &-bg {
      background-color: $tp-twitter;
    }
  }
}

.u-img {
  &--mix-blend {
    &-multiply {
      mix-blend-mode: multiply;
    }
  }
}
