$sprk-using-webfonts: true;
$sprk-webfonts: (
  (
    (url('/assets/fonts/exo-v9-latin-800.woff2') format('woff2')),
    RocketSans,
    800
  ),
  (
    (url('/assets/fonts/exo-v9-latin-700.woff2') format('woff2')),
    RocketSans,
    700
  ),
  (
    (url('/assets/fonts/exo-v9-latin-500.woff2') format('woff2')),
    RocketSans,
    500
  ),
  (
    (url('/assets/fonts/exo-v9-latin-regular.woff2') format('woff2')),
    RocketSans,
    400
  ),
  (
    (url('/assets/fonts/exo-v9-latin-300.woff2') format('woff2')),
    RocketSans,
    300
  ),  
);


.u-FontWeight--800 {
  font-weight: 800 !important;
}

.u-FontWeight--500 {
  font-weight: 500 !important;
}

.u-FontWeight--300 {
  font-weight: 300 !important;
}
