$angles: (top-left, bottom-left, top-right, bottom-right);

@each $angle in $angles {
  .o-triangle-#{$angle} {
    @media all and (min-width: $sprk-split-breakpoint-l) {
      background-color: $gife;
      @if $angle == top-left {
        clip-path: polygon(0 0, 100% 0, 0 100%);
      }
      @if $angle == bottom-left {
        clip-path: polygon(0 0, 100% 100%, 0 100%);
      }
      @if $angle == top-right {
        clip-path: polygon(0 0, 100% 0, 100% 100%);
      }
      @if $angle == bottom-right {
        clip-path: polygon(0 100%, 100% 0, 100% 100%);
      }
    }
  }
} 
