.sprk-c-Modal[data-id= 'appModal'] {
  max-height: 80vh;
  padding-right: 0;
  top: 10%;

  @media all and (min-width: $sprk-split-breakpoint-s) {
    max-height: 70vh;
    top: 20%;
  }

  .sprk-c-Modal__header {
    padding-right: 32px;
  }

  .sprk-c-Modal__heading {
    color: $gife;
  }

  .c-modal__details {
    padding-top: 4px;
    max-height: 50vh;
    display: flex;
    flex-flow: column;

    img {
      width: 100%;
      height: auto;
    }
  }

  .c-modal__details--choice {
    margin-bottom: 16px;
    max-height: 40vh;

    @media all and (min-width: $sprk-split-breakpoint-s) {
      margin-bottom: 64px;
      max-height: 50vh;
    }
  }

  .c-modal__file-link {
    margin-bottom: 16px;

    @media all and (min-width: $sprk-split-breakpoint-s) {
      margin-bottom: 32px;
    }
  }
}
