.c-split-text {
  &__content {
    @media (max-width: $sprk-split-breakpoint-m) {
      height: 400px;
    }

    @media (max-width: $sprk-split-breakpoint-s) {
      height: 320px;
    }
  }

  ul {
    margin-left: $sprk-list-margin-left;
    margin-top: $sprk-space-m;

    li {
      &::marker {
        color: $gife;
      }
    }
  }

  table {
    border: none;
    margin-top: $sprk-space-m;

    @extend .sprk-b-Table;

    tbody tr {
      border: none;
      border-bottom: none;
    }

    td {
      border: none;
      text-align: unset;
    }
  }
}
