.swiper-pagination {
  &.swiper-pagination-bullets {
    position: relative;
    margin-top: 30px;
  }
}

.swiper-pagination-handle {
  .swiper-pagination-bullet {
    border: 1px solid $light-gray !important;
    width: 10px;
    height: 10px;
    background-color: transparent !important;
    opacity: 1;

    &.swiper-pagination-bullet-active {
      background-color: $light-gray !important;
      border: 1px solid $light-gray !important;
      opacity: 1;
    }
  }
}
