.u-svg-filter--hide {
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
}


.u-stack {
  &-ColumnSpacer {
    &--medium {
      margin-left: -24px;
      margin-right: -24px;
      width: calc(100% + 48px);
    }
  }
}

.u-pointer {
  cursor: pointer;
}

.u-container {
  &--stepped {
    margin-bottom: -30px;
    z-index: 1;

    &:before {
      content: "";
      display: block;
      position: absolute;
      bottom: -10px;
      height: calc(100vh + 10px);
      width: 100%;
      background-color: $gife;
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), calc(50% - (9.7rem /2)) calc(100% - 30px) ,calc(50% - (12.5rem /2)) 100%,0 100%);

      @media (min-width: $sprk-split-breakpoint-m) {
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), calc(50% - (64.7rem /2)) calc(100% - 30px) ,calc(50% - (67.5rem /2)) 100%,0 100%);
      }
    }
  }
  &-child {
    &--stepped {
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), calc(50% - (10.2rem /2)) calc(100% - 30px) ,calc(50% - (13rem /2)) 100%,0 100%);

      @media (min-width: $sprk-split-breakpoint-m) {
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), calc(50% - (65.2rem /2)) calc(100% - 30px) ,calc(50% - (68rem /2)) 100%,0 100%);
      }
    }
  }
}

.u-display {
  &-none {
    display: none;

    &\@mobile {
      display: none !important;

      @media all and (min-width: $sprk-split-breakpoint-m) {
        display: unset !important;
      }
    }

    &\@desktop {

      @media all and (min-width: $sprk-split-breakpoint-m) {
        display: none !important;
      }
    }

  }

  &-block {
    display: block;

    &\@mobile {
      display: block;

      @media all and (min-width: $sprk-split-breakpoint-m) {
        display: unset;
      }
    }

    &\@desktop {

      @media all and (min-width: $sprk-split-breakpoint-m) {
        display: block;
      }
    }

  }

  &-flex {
    display: flex;
  }
}

.u-flex {
  &Column {
    flex-flow: column;

    &--reverse {
      flex-flow: column-reverse;

      &\@mobile {
        flex-flow: column-reverse;

        @media all and (min-width: $sprk-split-breakpoint-m) {
          flex-flow: unset;
        }
      }
    }
  }
}

.u-flexAlign-baseline {
  align-items: baseline;
}
.u-flexAlign-center {
  align-items: center;
}

.u-alignSelf-flexend {
  align-self: flex-end;
}

.u-alignSelf-center {
  align-self: center;
}

.u-flex--wrap {
  flex-wrap: wrap;
}

.u-flexJustify-center {
  justify-content: center;

  &\@mobile {
    justify-content: center;
    @media all and (min-width: $sprk-split-breakpoint-l) {
      justify-content: flex-start;
    }
  }
}

.u-image-adapter {
  object-fit: contain;
}

.u-image-fill {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.u-image-h30 {
  height: 30vw;
}

.u-bg {
  &--cover {
    background-size: cover;
  }

  &--center {
    background-position: center;
  }
}

.u-hover-grayscale {
  &:hover {
    filter: grayscale(1);
  }
}

.u-whiteSpace-pre-line {
  white-space: pre-line;
}

.u-icon-adapter {
  @media all and (min-width: $sprk-split-breakpoint-s) {
    h1, h2, h3, h4, h5, h6 {
      font-size: clamp(1rem, 1.2vw, 1.4rem);
    }
  }
}

.u-FontColor-white\@l {
  color: $gife;
  @media all and (min-width: $sprk-split-breakpoint-l) {
    color: white !important;
  }
}

.u-pushRight {

  &\@desktop {
    @media all and (min-width: $sprk-split-breakpoint-m) {
      padding-left: 80px;
    }
  }
}

.u-font {
  &Center {
    text-align: center;

    &\@mobile {
      text-align: center;

      @media all and (min-width: $sprk-split-breakpoint-m) {
        text-align: unset;
      }
    }
  }

  &Right {
    &\@s {
      @media all and (min-width: $sprk-split-breakpoint-s) {
        text-align: right;
      }
    }

    &\@desktop {
      @media all and (min-width: $sprk-split-breakpoint-m) {
        text-align: right;
      }
    }
  }

  &Left {
    &\@s {
      @media all and (min-width: $sprk-split-breakpoint-s) {
        text-align: left;
      }
    }

    &\@desktop {
      @media all and (min-width: $sprk-split-breakpoint-m) {
        text-align: left;
      }
    }
  }

  &Link {
    border-bottom: 0.0625rem solid transparent;

    &::before {
      margin-bottom: unset;
    }

    &::after {
      margin-top: unset;
    }
  }

  &Line {
    &-fix {
      line-height: 1.65;
    }
  }
}

.u-FontTransform--capitalize {
  text-transform: capitalize;
}

@mixin title-position {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin custom-downloader($bg-color) {
  background-color: adjust-color($bg-color, $alpha: -0.1);
  flex-flow: column;
  justify-content: space-between;
  z-index: 5;
  padding: 16px;
}

.u-custom-hover {
  .active & {
    background-color: adjust-color($gife, $alpha: -0.35);

    &:after {
      $underliner-width: 50; // 36
      $underliner-height: 70; // 50
      $underliner-color: quote('#{$gife}');

      content: ' ';
      box-sizing: content-box;
      background: url("data:image/svg+xml,\
        %3Csvg viewBox='0 0 155 180' width='#{$underliner-width}' height='#{$underliner-height}' xmlns='http://www.w3.org/2000/svg'%3E\
          %3Cfilter id='shadow' %3E\
            %3CfeDropShadow dx='0.5' dy='-0.5' stdDeviation='3' flood-opacity='0.9' /%3E\
          %3C/filter %3E\
          %3Cpath fill='#{str-replace($underliner-color, '#', '%23')}' filter='url(%23shadow)' d='M0 0l250 350H0V0z'/%3E\
        %3C/svg%3E");
      width: 100%;
      height: 100%;
      transform: scaleX(-1);
      background-repeat: no-repeat;
      position: absolute;
      background-position-y: bottom;
    }
  }

  .o-custom-underliner {
    @include title-position;
  }

  @media (hover: none) and (pointer: coarse) {
    background-color: adjust-color($dark, $alpha: -0.5);

    .swiper-slide-active & {
      background-color: adjust-color($sprk-black, $alpha: -0.5);
    }
  }

  @media (hover: none) and (pointer: coarse) {
    .o-custom-downloader {
      // background-color: $gife;
      order: 1;
      position: relative;
      // width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      // margin-top: 32px;
      padding: 8px;
      padding-left: 0;

      @media all and (min-width: $sprk-split-breakpoint-m) {
        background-color: $gife;
        width: 100%;
        margin-top: 16px;
      }
  
      img, h4 {
        flex: 0 1;
      }
  
      img {
        height: 30px;
      }
  
      h4 {
        font-size: 1rem;
      }
    }
  }

  @media (max-width: $sprk-split-breakpoint-m) {
    .o-custom-downloader {

      img {
        height: 30px;
      }
    }
  }

  @media (max-width: $sprk-split-breakpoint-l) {
    .o-custom-downloader {
      // background-color: $gife;
      order: 1;
      position: relative;
      // width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      // margin-top: 32px;
      // padding: 15px;

      img, h2 {
        flex: 0 1;
      }

      h2 {
        font-size: 1rem;
      }
    }
  }

  .o-custom-underliner {
    // display: none;

    .active & {
      display: flex;
    }

    @media (hover: none) and (pointer: coarse) {
      
      .swiper-slide-active & {
        display: block;
      }
        
      &:after {
        $underliner-width: 36;
        $underliner-height: 50;
        $underliner-color: quote('#{$gife}');

        display: none;

        content: ' ';
        box-sizing: content-box;
        background: url("data:image/svg+xml,%3Csvg width='#{$underliner-width}' height='#{$underliner-height}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='#{str-replace($underliner-color, '#', '%23')}' d='M0 0l250 350H0V0z'/%3E%3C/svg%3E");
        width: 100%;
        height: 25px;
        padding: 0 25px;
        // margin-left: -70px;
        border-bottom: 10px solid $gife;
        transform: scaleX(-1) translateX(50%);
        background-repeat: no-repeat;
        position: absolute;
        bottom: -25px;
        margin-left: 50%;

        .swiper-slide-active & {
          display: block;
        }
      }
    }
  }

  @media (hover: hover) and (pointer: fine) {
    .o-custom-underliner {
      display: none;
    }
  }

  @media (hover: hover) and (pointer: fine) and (min-width: $sprk-split-breakpoint-l) {
    &:hover {
      background-color: adjust-color($sprk-black, $alpha: -0.5);

      :not(.active) > & {
        .o-custom-underliner {
          @include title-position;
        }

        .o-custom-underliner {

          &:after {
            $underliner-width: 36;
            $underliner-height: 50;
            $underliner-color: quote('#{$gife}');

            content: ' ';
            box-sizing: content-box;
            background: url("data:image/svg+xml,%3Csvg width='#{$underliner-width}' height='#{$underliner-height}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='#{str-replace($underliner-color, '#', '%23')}' d='M0 0l250 350H0V0z'/%3E%3C/svg%3E");
            width: 100%;
            height: 25px;
            padding: 0 25px;
            // margin-left: -70px;
            border-bottom: 10px solid $gife;
            transform: scaleX(-1) translateX(50%);
            background-repeat: no-repeat;
            position: absolute;
            bottom: -25px;
            margin-left: 50%;
          }
        }
      }
    }
  }

  @media (hover: hover) and (pointer: fine) and (min-width: $sprk-split-breakpoint-m) {
    .o-custom-downloader {
      display: none;
    }

    &:hover {
      :not(.active) > & {
        .o-custom-downloader {
          @include title-position;
        }

        .o-custom-downloader {
          @include custom-downloader($gife);

          > img {
            margin-right: -8px;
          }
        }
      }
    }
  }
}
