@import 'node_modules/@sparkdesignsystem/spark-styles/web/scss/colors.scss';
@import 'node_modules/@sparkdesignsystem/spark-styles/web/scss/space.scss';
@import 'colors';

$sprk-btn-background-color: $gife;
$sprk-btn-border-radius: 0;

$sprk-dropdown-active-border: 0;
$sprk-dropdown-active-box-shadow: 0;

$sprk-masthead-content-item-padding-bottom-wide:	$sprk-space-s
