<app-page-header
  [responsiveImageUrls]="contattiContent?.contact.image"
  [pageTitle]="contattiContent?.contact.title"
  [pageDescription]="contattiContent?.contact.content"
>
</app-page-header>
<app-text [isList]="true" [elementsList]="contactsText"></app-text>
<app-goo-map></app-goo-map>
