<ng-container *ngIf="service_content">
  <app-page-header [responsiveImageUrls]="service_content.serviceImage" [pageTitle]="service_content.serviceTitle" [pageDescription]="service_content.serviceContent"></app-page-header>
  <app-split-view *ngFor="let singleService of service_content.serviceBlock" [content]="singleService" #prova></app-split-view>
</ng-container>
