<div class="c-award-downloader sprk-o-Box--misc-c">
  <h3 sprkStackItem sprkHeading variant="displayThree" class="sprk-u-MarginBottom--b sprk-u-TextTransform--uppercase sprk-u-FontWeight--normal u-fontCenter u-color--brand-text">
    <ng-content></ng-content>
  </h3>
  <sprk-stack splitAt="medium" additionalClasses="c-award-downloader__container u-flex--wrap u-flexJustify-center u-stack-ColumnSpacer--medium">
    <div sprkStackItem *ngFor="let item of awards" class="c-award-downloader__item-container sprk-u-pam sprk-o-Stack__item--flex@m sprk-u-TextAlign--center">
      <!-- <h4 sprkHeading variant="displayFour" class="sprk-u-FontWeight--normal sprk-u-MarginVertical--b">
        {{item.certificateName}}
      </h4> -->
      <div *ngIf="tabletBP" class="c-award-downloader__item u-custom-hover sprk-u-Position--relative" [ngClass]="{ 'sprk-u-PaddingAll--a': tabletBP,  'sprk-u-pam': !tabletBP}">
        <a *ngIf="item.certificateFile" [href]="item.certificateFile.url" class="o-custom-downloader sprk-u-TextDecoration--none" target="_blank">
          <img src="../../assets/icons/download.svg" width="30" height="30" class="c-award-downloader__download-icon u-alignSelf-flexend u-color--white-svg" alt="" />
          <h4 sprkHeading variant="displayFour" class="sprk-u-Color--white sprk-u-TextTransform--uppercase sprk-u-FontWeight--normal sprk-u-TextAlign--left">
            Scarica Certificato
          </h4>
        </a>
        <img src="../../assets/icons/seo-and-web.svg" width="40" height="40" class="c-award-downloader__icon u-color--brand-svg" [ngClass]="{ 'sprk-u-mbl': tabletBP }" alt="" />
        <div class="c-award-downloader__text-container sprk-o-Box--flush">
          <h6 sprkHeading variant="displaySeven" class="c-award-downloader__text sprk-u-Display--inline-block sprk-u-FontWeight--normal">
            {{item.certificateList}}
          </h6>
        </div>
      </div>
      <div *ngIf="!tabletBP && !item.certificateFile" class="c-award-downloader__item u-custom-hover sprk-u-Position--relative" [ngClass]="{ 'sprk-u-PaddingAll--a': tabletBP,  'sprk-u-pam': !tabletBP}">
        <img src="../../assets/icons/seo-and-web.svg" width="40" height="40" class="c-award-downloader__icon u-color--brand-svg" [ngClass]="{ 'sprk-u-mbl': tabletBP }" alt="" />
        <div class="c-award-downloader__text-container sprk-o-Box--flush">
          <h6 sprkHeading variant="displaySeven" class="c-award-downloader__text sprk-u-Display--inline-block sprk-u-FontWeight--normal">
            {{item.certificateList}}
          </h6>
        </div>
      </div>
      <a *ngIf="!tabletBP && item.certificateFile" [href]="item.certificateFile.url" target="_blank" class="c-award-downloader__item u-custom-hover sprk-u-Position--relative" [ngClass]="{ 'sprk-u-PaddingAll--a': tabletBP,  'sprk-u-pam': !tabletBP}">
        <div class="o-custom-downloader sprk-o-Box--flush sprk-u-TextDecoration--none" [ngClass]="{ 'sprk-u-prm': !tabletBP }">
          <img src="../../assets/icons/download.svg" width="30" height="30" class="c-award-downloader__download-icon u-alignSelf-flexend u-color--brand-svg" alt="" />
        </div>
        <img src="../../assets/icons/seo-and-web.svg" width="40" height="40" class="c-award-downloader__icon u-color--brand-svg" [ngClass]="{ 'sprk-u-mbl': tabletBP }" alt="" />
        <div class="c-award-downloader__text-container sprk-o-Box--flush">
          <h6 sprkHeading variant="displaySeven" class="c-award-downloader__text sprk-u-Display--inline-block sprk-u-FontWeight--normal">
            {{item.certificateList}}
          </h6>
        </div>
      </a>
    </div>
  </sprk-stack>
</div>
