// @import "node_modules/@sparkdesignsystem/spark-styles/spark.scss";
@import "node_modules/@sparkdesignsystem/spark-styles/web/scss/space";
@import "node_modules/@sparkdesignsystem/spark-styles/web/scss/object";
@import '../../../scss/colors';

.c-award-downloader {
  background-color: $ultra-lightest-gray;

  &__item-container {
    display: flex;
    flex-direction: column;
    flex: 0 0 25%;

    @media all and (min-width: $sprk-split-breakpoint-l) {
      flex: 0 0 20%;
    }
  }

  &__item {
    flex: 1;
    background-color: $lightest-gray;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    // justify-content: space-between;

    @media all and (min-width: $sprk-split-breakpoint-m) {
      flex-flow: column;
      justify-content: center;
    }
  }

  &__text-container {
    @media all and (max-width: $sprk-split-breakpoint-m) {
      margin-right: auto;
    }
  }

  &__text {
    white-space: pre-line;
  }

  &__icon {
    height: auto;
    width: 40px;

    @media all and (min-width: $sprk-split-breakpoint-m) {
      width: 70px;
    }
  }

  &__download-icon {
    width: auto;
    height: 60px;
  }
}
