<div class="c-project sprk-u-Position--relative">
  <div class="c-project__close sprk-o-Box--inset-short-medium  sprk-u-TextAlign--right">
    <span (click)="worksService.isProjectOpen = false; router.navigate(['../opere'])">
      Chiudi progetto
      <sprk-icon
        iconType="close"
        additionalClasses="
          sprk-c-Icon--m
          sprk-c-Icon--filled-current-color
          sprk-u-mls"
      >
      </sprk-icon>
    </span>
  </div>
  <div *ngIf="currentProject.coverImage" idString="centered-column" class="sprk-o-CenteredColumn sprk-u-mvh c-project-detail">
    <h4 sprkHeading variant="displayFour" class="sprk-u-FontWeight--normal sprk-u-TextTransform--uppercase sprk-u-TextAlign--center sprk-u-mbh u-color--brand-text">
        {{ currentProject.title }}
      </h4>
      <sprk-stack splitAt="medium">
        <div sprkStackItem class="sprk-o-Stack__item--three-tenths@m sprk-u-phm">
          <p sprkText variant="bodyTwo" class="sprk-u-mbl" [innerHTML]="currentProject.description">
            {{ currentProject.description }}
          </p>
          <h6 sprkHeading variant="displaySeven" class="sprk-u-TextTransform--uppercase sprk-u-mbs u-color--brand-text">località</h6>
          <p sprkText variant="bodyTwo" class="sprk-u-mbl">
            {{ currentProject.location }}
          </p>
          <h6 sprkHeading variant="displaySeven" class="sprk-u-TextTransform--uppercase sprk-u-mbs u-color--brand-text">committente</h6>
          <p sprkText variant="bodyTwo" class="sprk-u-mbl">
            {{ currentProject.committente }}
          </p>
          <h6 sprkHeading variant="displaySeven" class="sprk-u-TextTransform--uppercase sprk-u-mbs u-color--brand-text">valore complessivo dei lavori</h6>
          <p sprkText variant="bodyTwo" class="sprk-u-mbl">
            {{ currentProject.valore }}
          </p>
          <h6 sprkHeading variant="displaySeven" class="sprk-u-TextTransform--uppercase sprk-u-mbs u-color--brand-text">riferimento</h6>
          <p sprkText variant="bodyTwo" class="sprk-u-mbl">
            {{ currentProject.riferimento }}
          </p>
          <h6 sprkHeading variant="displaySeven" class="sprk-u-TextTransform--uppercase sprk-u-mbs u-color--brand-text">stato</h6>
          <p sprkText variant="bodyTwo" class="sprk-u-mbl">
            {{ currentProject.stato }}
          </p>
        </div>
        <div sprkStackItem class="sprk-o-Stack__item--seven-tenths@m sprk-u-phm c-project-detail__images">
          <swiper *ngIf="currentProject.gallery.length >= 1; else coverTemplate" class="swiper-container c-slide c-slide--container" [config]="projectDetailSwiperConfig" [(index)]="worksService.projectDetailSwiperIndex">
            <ng-container *ngFor="let item of currentProject.gallery">
              <div class="c-slide__image-container">
                <picture class="c-slide__image">
                  <source
                    type="image/webp"
                    [srcset]="item?.responsiveImage?.webpSrcSet"
                    [sizes]="item?.responsiveImage?.sizes"
                  >
                  <img
                    class="u-image-fill"
                    [srcset]="item?.responsiveImage?.srcSet"
                    [sizes]="item?.responsiveImage?.sizes"
                    [src]="item?.url"
                    [alt]="item?.responsiveImage?.alt || currentProject.title"
                  >
                </picture>
              </div>
            </ng-container>
          </swiper>
          <ng-template #coverTemplate>
            <div class="c-slide__image-container">
              <picture class="c-slide__image">
                <source
                  type="image/webp"
                  [srcset]="currentProject.coverImage?.responsiveImage?.webpSrcSet"
                  [sizes]="currentProject.coverImage?.responsiveImage?.sizes"
                >
                <img
                  class="u-image-fill"
                  [srcset]="currentProject.coverImage?.responsiveImage?.srcSet"
                  [sizes]="currentProject.coverImage?.responsiveImage?.sizes"
                  [src]="currentProject.coverImage?.url"
                  [alt]="currentProject.coverImage?.responsiveImage?.alt || currentProject.title"
                >
              </picture>
            </div>
          </ng-template>
        </div>
      </sprk-stack>
  </div>
</div>
