// @import "node_modules/@sparkdesignsystem/spark-styles/spark.scss";
@import "node_modules/@sparkdesignsystem/spark-styles/web/scss/space";
@import "node_modules/@sparkdesignsystem/spark-styles/web/scss/object";
@import '../../../scss/colors';

.c-project-detail__images {
  width: 100%;

  img {
    max-height: 600px;

    @media all and (min-width: $sprk-split-breakpoint-l) {
      height: 600px;
    }
  }
}

.c-project__close {
  width: 100%;
  font-variant: all-small-caps;
  background-color: $ultra-light-gray;

  span {
    cursor: pointer;
  }
}
