<ng-container>
  <h3 sprkStackItem sprkHeading variant="displayThree" class="sprk-u-TextTransform--uppercase sprk-u-FontWeight--normal u-fontCenter sprk-u-mal u-color--brand-text"><!--sprk-u-MarginVertical--c -->
    {{clientData.partnersTitle}}
  </h3>
  <swiper [config]="clientsSwiperConfig">
    <div *ngFor="let partner of clientData.partnersList" [ngStyle]="{ 'height.px': desktopSize }" class="c-slide-clients">
      <img
        loading="lazy"
        [src]="partner.url"
        [ngStyle]="{
          'height.px': maxLogoHeight * ((partner.height/partner.width) + getBaseLog((maxLogoHeight * 2), partner.width/partner.height)),
          'width.px': maxLogoHeight * ((partner.height/partner.width) + getBaseLog((maxLogoHeight * 2), partner.width/partner.height)) * partner.width/partner.height
        }"
        class="u-image-adapter u-hover-grayscale"
        alt=""
        />
    </div>
  </swiper>
</ng-container>
