<sprk-stack splitAt="large" additionalClasses="c-icon-strip sprk-u-Position--relative">
  <div sprkStackItem class="sprk-u-pal sideTitle">
    <h3 sprkHeading variant="displayThree" class="sprk-u-TextTransform--uppercase u-alignSelf-flexend">
      <a sprkLink variant="simple" [routerLink]="['/', stripData.serviceTitle | lowercase]" class="u-FontColor-white@l u-color--brand-text u-colorLink--brand@mobile u-colorLink--white@desktop sprk-u-FontWeight--normal">
        {{stripData.serviceTitle}}
      </a>
    </h3>
  </div>
  <div sprkStackItem class="c-icon-strip__icon-container sprk-o-Stack__item--flex@l sprk-u-pbl u-display-flex u-flexColumn u-flexJustify-center">
    <!-- <sprk-stack splitAt="small" additionalClasses="sprk-u-mbs"> -->
    <div class="c-icon-strip__icon-wrapper">
      <ng-container *ngFor="let stripIcon of stripData.serviceBlock">
        <ng-container *ngIf="stripIcon.mainIcon">
          <div sprkStackItem class="c-icon-strip__icon sprk-o-Stack__item--fifth@s sprk-u-TextAlign--center sprk-u-phm sprk-u-pvl u-icon-adapter u-display-flex u-flexColumn u-flexJustify-center u-flexAlign-center" (click)="router.navigate([stripData.serviceTitle.toLowerCase()], { fragment: stripIcon.serviceName.toLowerCase() })">
            <img [src]="stripIcon.mainIcon.url" class="sprk-u-mbl o-icon-xl u-color--brand-svg" alt="" />
            <h6 sprkHeading variant="displaySeven" class="sprk-u-TextTransform--uppercase sprk-u-FontWeight--normal">{{stripIcon.serviceName}}</h6>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <!-- </sprk-stack> -->
    <sprk-stack>
      <p sprkText variant="bodyThree" class="sprk-u-TextAlign--center sprk-u-mvs u-display-none@mobile">
        <a
          [routerLink]="['/', stripData.serviceTitle | lowercase]"
          sprkLink
          variant="simple"
          idString="simple-link"
          analyticsString="simple-link"
        >
          Tutti i servizi
        </a>
      </p>
      <div sprkBox spacing="insetShortMedium" class="sprk-u-TextAlign--center u-display-none@desktop ">
        <a
          class="sprk-c-Button sprk-c-Button--full@s"
          [routerLink]="['/', stripData.serviceTitle | lowercase]"
          title=””
        >
          Tutti i servizi
        </a>
      </div>
    </sprk-stack>
  </div>
</sprk-stack>
