// @import "node_modules/@sparkdesignsystem/spark-styles/spark.scss";
@import "node_modules/@sparkdesignsystem/spark-styles/web/scss/space";
@import "node_modules/@sparkdesignsystem/spark-styles/web/scss/object";
@import '../../../scss/colors';

.c-icon-strip {
  &__icon-container {
    @media all and (min-width: $sprk-split-breakpoint-l) {
      padding-left: 165px;
    }

    > :first-child {
      align-items: center;
      display: flex;
      flex: 1;
      flex-wrap: wrap;

      @media all and (min-width: $sprk-split-breakpoint-s) {
        flex-wrap: unset;
      }
    }

    @media all and (min-width: $sprk-split-breakpoint-m) {
      height: 400px;
    }
    // img {
    //   // filter: contrast(0) sepia(1) hue-rotate(-20deg) saturate(170) brightness(138%);
    //   filter: url(#colorizeBrand);
    // }
  }

  &__icon {
    flex: 1;
    flex-basis: 50%;

    @media all and (min-width: $sprk-split-breakpoint-s) {
      flex-basis: unset;
    }

    h6 {
      line-height: 2;
    }

    &:hover {
      // background-color: $lightest-gray;
      cursor: pointer;

      h6 {
        transition: 0.3s;
        color: #333333;
        border-bottom: 0.0625rem solid #333333;
      }
    }
  }
}
