<div class="c-info-data sprk-o-CenteredColumn">
  <div class="sprk-o-Box sprk-o-Box--large">
    <sprk-stack>
      <ng-container *ngFor="let info of infos">
        <ng-container *ngIf="info.__typename == 'DisplayinfoRecord'">
          <div sprkStackItem class="sprk-o-Stack__item sprk-u-MarginBottom--d">
            <h3 sprkStackItem sprkHeading variant="displayThree" class="sprk-u-TextTransform--uppercase u-fontCenter@mobile u-fontRight@desktop sprk-u-mbh">
              <a sprkLink variant="simple" [routerLink]="['/', info.title | lowercase]" class="u-color--brand-text u-colorLink--brand sprk-u-FontWeight--normal">
                {{info.title}}
              </a>
            </h3>
            <p sprkStackItem class="sprk-b-TypeBodyTwo">
              {{info.content}}
            </p>
          </div>
        </ng-container>
      </ng-container>
      <sprk-stack splitAt="small"
        inViewport
        [inViewportOptions]="{ threshold: [0] }"
        (inViewportAction)="onIntersection($event)"
      >
        <ng-container *ngFor="let info of infos; index as i;">
          <ng-container *ngIf="info.__typename == 'QualityRecord'">
            <div sprkStackItem class="sprk-o-Stack__item--third@s sprk-u-TextAlign--center">
              <h2 sprkHeading variant="displayTwo"
                class="c-info-data__quality-number sprk-u-FontWeight--normal sprk-u-mbm u-color--brand-text"
              >
                {{info.qualityTitle}}
              </h2>
              <p sprkHeading variant="displaySix" class="c-info-data__quality-title sprk-u-MarginBottom--d">
                {{info.qualityDescription}}
              </p>
            </div>
          </ng-container>
        </ng-container>
      </sprk-stack>
    </sprk-stack>
  </div>
</div>
